<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jacob van den Berg</title>
        
        <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.8/dist/styles/themes/default.css" />
        <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.8/dist/styles/icons.css">
        <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.8/dist/webawesome.loader.js"></script>
        
      
        <link rel="icon" href="/favicon.svg" type="image/svg">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/script.js" defer></script> 


        
    </head>
    <style>
 


    </style>
    <p>base</p>
   
    <body>
        <header>
            <wa-dropdown>
                <wa-button slot="trigger" caret>Theme</wa-button>
                <wa-menu>
                  <wa-menu-item value="light" id="theme-light" >Light <wa-icon name="sun"></wa-icon></wa-menu-item>
                  <wa-menu-item value="Dark" id="theme-dark">Dark <wa-icon name="moon"></wa-icon></wa-menu-item>
                  <wa-menu-item value="System"id="theme-system">System <wa-icon name="gear"></wa-icon></wa-menu-item>
                </wa-menu>
              </wa-dropdown>
        </header>

        {{ content }}

      
    </body>
    
</html>