<!DOCTYPE html>
<!-- here only load stuff nothing from the screen -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jacob van den Berg</title>
        
        <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.8/dist/styles/themes/default.css" />
        
        <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.8/dist/styles/icons.css">
        <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.8/dist/webawesome.loader.js"></script>
        
      
        <link rel="icon" href="/favicon.svg" type="image/svg">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/script.js" defer></script> 


        
    </head>
    <style>
 


    </style>
    <p>base</p>
   

        {{ content }}

      
    </body>
    
</html>