---
layout: "base.html"
---


<!-- here goes the menu - footer etc -->

<p> default</p>

<body>
 
          <div class="search-wrapper">
          <wa-input id="searchBox" placeholder="... "  class="wa-align-items-center wa-justify-content-center ">
            <wa-icon-button id="searchBtn" name="search" variant="solid" slot="prefix"></wa-icon-button>
            <wa-icon-button id="closeBtn" name="close" variant="solid" slot="prefix" style="display: none;"></wa-icon-button>
          </wa-input>
          </div>
        

        <!-- Search Results --> 
        <div id="searchResults" class="search-results"></div>
 
    

    <main class="site-content">
      {{ content }}
    </main>
       
           
      
</body>