---
layout: "base.html"
---

<!-- here goes the menu - footer etc -->

<p> default</p>

<body>
  

    <header class="site-header">
      <!-- Search Bar -->
      <div class="search-container"></div>
      <wa-input id="searchBox" placeholder="... " size="medium">
        <wa-icon-button id="searchBtn" name="search" variant="solid" slot="prefix"></wa-icon-button>
      
        
      </wa-input>
      </div>

     
      
    
      <!-- Search Results -->
      <div id="searchResults"></div>
    </header>
    
    
            {{ content }}
      
            <script>
              document.getElementById('searchBox').addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                  document.getElementById('searchBtn').click();
                }
              });
            </script>
      
</body>